{%extends "base.html.twig" %} 
{% block title %}Our Services{% endblock %}

{% block body %}
    <div>        
        {{ include("template_part/menu.html.twig", {pp: 'menu'} )}}
    </div>

    <div class="container">

    {{ include("services/servicesList.html.twig", {pp: 'services'} )}}



    </div>    
    {{ include("services/taxesList.html.twig", {pp: 'services'} )}}

        
    
    {{ include("template_part/footer.html.twig", {pp: 'footer'} )}}
{% endblock %}
