{% extends 'base.html.twig' %}

{% block title %}Hello OwnerController!{% endblock %}

{% block body %}
<div>        
        {{ include("template_part/menu.html.twig", {pp: 'menu'} )}}
    </div>

    <div class="container"> 
        {# {% if is_granted('ROLE_ADMIN') %} #}
            <span class="float-end">
                <a href="{{ path('app_addOwner') }}" class="btn btn-success btn-sm">Add</a>
            </span>
        {# {% endif %} #}

        <h2 class="mt-3">Our Partners</h2>

        {{ include("owner/partnersList.html.twig", {pp: 'partners'} )}}
    </div>    
    
    {{ include("template_part/footer.html.twig", {pp: 'footer'} )}}

{% endblock %}
