{% extends 'base.html.twig' %}

{% block title %}Hello OwnerController!{% endblock %}

{% block body %}
<div>        
        {{ include("template_part/menu.html.twig", {pp: 'menu'} )}}
    </div>

    <div class="container">
        {{ include("owner/partnersList.html.twig", {pp: 'partners'} )}}
    </div>    
    
    {{ include("template_part/footer.html.twig", {pp: 'footer'} )}}

{% endblock %}
